#mainContents
  #recCreate
    .title 
      あそび情報の編集
      = icon("fas","pencil-alt")
    = form_with(model:@recreation, local: true, id: "recEditForm") do |form|
      = render partial: 'recreations/recForm', locals: { form: form }
