#mainContents
  #recCreate
    .title 
      あそび情報の入力
      = icon("fas","pencil-alt")
    = form_with(model:@recreation, local: true) do |form|
      = render partial: 'recreations/recForm', locals: { form: form }
