#recCreate {
  background-color: white;
  padding: 20px 50px;
  text-align: center;
  box-shadow: 0 0 5px 3px lightgray;
  border-radius: 5px;
  & .title {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: bold;
    color: cadetblue;
    border-bottom: $topTabsBorder;
  }
  .field {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 10px 0;
    font-size: 0.9em;
    & .textbox {
      padding: 5px;
      width: 300px;
      border: none;
      border-radius: 3px;
      box-shadow: $boxShadow;
    }
    & .textareabox {
      overflow: scroll;
      resize: none;
      padding: 5px;
      width:98%;
      height:100px;
      border: none;
      border-radius: 3px;
      box-shadow: $boxShadow;
    }
    .imageBox {
      width: calc(100% - 4px);
      cursor: pointer;
      padding-top: 55%;
      background-color: rgb(247, 243, 243);
      border: dashed 2px cadetblue;
      margin: 0 auto;
      position: relative;
      text-align: center;
      & .message {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        margin: auto;
        color: dimgrey;
        > i {
          font-size: 7vh;
        }
      }
      .file-preview {
        position: absolute;
          top: 0;
          left: 0;
        width:100%;
        height:100%;
        display: none;
      }
      & .filebox {
        display: none;
      }
    }
  }
  & .recFormBtn {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9em;
    line-height: 50px;
  }
  .submit{
    background-color: cadetblue;
    border: none;
    outline: none;
    appearance: none;
  }
  .back{
    background-color: gray;
    text-decoration: none;
  }
}

.field--label {
  font-weight: bold;
  color: rgb(39, 38, 38);
  margin-bottom: 5px;
  font-size: 0.9em;
  > p {
    font-weight: 100;
    font-size: 0.8em;
  }
  .require {
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: 100;
    font-size: 0.8em;
    background-color: #FF0033;
    border-radius: 5px;
    width: 30px;
  }
  & select {
    width: 100px;
    height: 30px;
    font-weight: 100;
    outline: none;
  }
}

.js-file_group--btn {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
  .recbtn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    text-align:center;
    font-weight: bold;
    line-height: 25px;
    color: white;
    box-shadow: 0 0 0 1px lightgray;
    &:hover {
      box-shadow: 0 0 1px 2px yellow;
    }
  }
  .js-remove {
    background: orangered;
  }
  #js-add {
    background: turquoise;
  }
}

#textForm {
  .js-file_group {
    position: relative;
    margin-bottom: 40px;
    & .textarea-imageBox {
      width: calc(100% - 4px);
      cursor: pointer;
      padding-top: 55%;
      background-color: rgb(247, 243, 243);
      border: dashed 2px cadetblue;
      margin: 0 auto 10px;
      position: relative;
      text-align: center;
      display: none;
      .message {
        color: dimgrey;
        position: absolute;
          top: 45%;
          left: 0;
          right: 0;
          margin: auto;
          > i {
            font-size: 7vh;
          }
      }
      & .text-imagePreview {
        position: absolute;
          top: 0;
          left: 0;
        width:100%;
        height:100%;
        display: none;
      }
    }
    .image-add {
      font-size: 1.1em;
      color: rgb(70, 68, 68);
      position: absolute;
        top: -25px;
        right: 0;
        & .textareaImageBtn {
          display: flex;
          & .textareaImgDel {
            margin-left: 10px;
          }
          &--item {
            position: relative;
            display: inline-block;
            padding: 0 3px;
            color: #333;
            cursor: pointer;
            text-align: center;
            transition: .3s;
            z-index: 1;
            &::before {
              position: absolute;
              right: 0;
              bottom: 2px;
              left: 0;
              content: '';
              z-index: -1;
              background: yellow;
              height: 5px;
              transform-origin: right top;
              transform: scale(0, 1);
              transition: transform .5s;
            }
            &:hover::before {
              transform-origin: left top;
              transform: scale(1, 1);
            }
            > label {
              cursor: pointer;
            }
          }
        }
    }
  }
}