#recShow {
  background-color:rgba(255, 255, 255, 0.9);
  padding: 20px 50px;
  text-align: center;
  box-shadow: 0 0 5px 3px lightgray;
  border-radius: 5px;
  & .title {
    padding: 5px;
    margin-bottom: 20px;
    font-size: 1.4em;
    font-weight: bold;
    color: cadetblue;
    border-bottom: $topTabsBorder;
  }
  .Show-imageBox {
    width: 100%;
    padding-top: 55%;
    background-color: gray;
    border: dashed 3px cadetblue;
    margin: 0 auto 50px;
    position: relative;
    &--titeImage {
      position: absolute;
        top: 0;
        left: 0;
      width:100%;
      height:100%;
    }
    & > img {
      position: absolute;
        top: 0;
        left: 0;
      width:100%;
      height:100%;
    }
  }
  & .field {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-bottom: 30px;
    font-size: 0.9em;
    .show-label {
      border-bottom: solid 3px mediumaquamarine;
      position: relative;
      > p {
        width: 120px;
        padding: 5px 2px;
        background-color: mediumaquamarine;
        color: white;
        font-weight: bold;
        text-align: center;
        border-radius: 10px 10px 0 0;
      }
      & .required {
        position: absolute;
          bottom: 5px;
          left: 140px;
        display: flex;
        &--item {
          padding: 2px 15px;
          margin-right: 10px;
          font-size: 0.8em;
          border-radius: 10px;
          background-color: rgba(#71dbfc, 0.8);
          font-style:italic;
          color: rgb(59, 57, 57);
        }
      }
    }
    & .textareabox {
      padding: 5px;
    }
    .showTextareaBox {
      margin-top: 30px;
      & .Show-imageBox {
        position: relative;
        border: solid 3px #a8eaff;
        box-shadow: 0 2px 2px 2px lightgray;
        & .show-textlabel {
          position: absolute;
            top: 0;
            right: 0;
          background-color:#a8eaff;
          padding: 5px 25px;
          border-radius: 0 0 0 10px;
          box-shadow: 0 2px 2px 0 lightgray;
        }
      }
      & .Show-noImageBox {
        width: 100%;
        height: 30px;
        padding-left: calc(100% - 150px);
        & .show-textlabel {
          width: 150px;
          height: 100%;
          border-top: 3px dotted #a8eaff;
          position: relative;
          > .text {
            position: absolute;
              top: -3px;
              right: 0;
            text-align: center;
            width: 50px;
            background-color:#a8eaff;
            padding: 5px;
            border-radius: 0 0 0 10px;
            box-shadow: 0 2px 2px 0 lightgray;
          }
        }
      }
      &--text {
        min-height: 100px;
        width: 92%;
        margin: 20px auto 15px;
        position: relative;
        padding: 10px 20px;
        text-align: left;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        word-wrap: break-word;
        &:before, &:after{
          content: '';
          position: absolute;
          top: -8px;
          width: 2px;
          height: calc(100% + 1em);
          background-color: gray;
          }
          &:before {
          left: 10px;
          }
          &:after {
          right: 10px;
          }
      }
    }
  }
  .recFormBtn {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9em;
    line-height: 50px;
    text-decoration: none;
  }
  & .back {
    margin-top: 30px;
    background-color: gray;
    text-decoration: none;
  }
  & .userEditform {
    width: 100%;
    margin: 70px auto 20px;
    border-top: dashed 2px rgb(46, 45, 45);
    > p {
      margin: 10px auto 30px;
      color: rgb(87, 85, 85);
      font-weight: bold;
    }
    &--btns {
      display: flex;
      justify-content: space-between;
      & .submit{
        margin: 0 5px;
        font-size: 0.9em;
        > p {
        }
      }
      #editBtn {
        background-color: cadetblue;
        
      }
      #DeleteBtn {
        background-color: rgb(225, 171, 226);
      }
    }
  }
}

.field--label {
  font-weight: bold;
  color: rgb(39, 38, 38);
  margin-bottom: 5px;
  font-size: 0.9em;
  > p {
    font-weight: 100;
    font-size: 0.8em;
  }
  .require {
    text-align: center;
    display: inline-block;
    color: white;
    font-weight: 100;
    font-size: 0.8em;
    background-color: #FF0033;
    border-radius: 5px;
    width: 30px;
  }
  & select {
    width: 100px;
    height: 30px;
    font-weight: 100;
    outline: none;
  }
}

// お気に入り機能
#bookmarkBtn {
  display: flex;
  justify-content: flex-end;
  color: white;
  & .item {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    min-width: 220px;
    & span {
      margin-right: 10px;
      position: relative;
      overflow: hidden;
    }
    & .like-count {
      > i {
        color: rgb(255, 187, 0);
      }
    }
  }
  & .bookmarkbtn {
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover > span {
      animation: pyon 0.5s ease-in;
    }
  }
}

@keyframes pyon {
  0% {top : 0}
  10% {
    transform: scale(1.1, 0.4);
  }
  80% {top:-5px;
    transform: scale(1, 1.1);}
  100%{top: 0;}
}
