html, body{
  margin: 0;        
  padding: 0;
  width:100%;
  height: 100vh;
  background-image: url("top-Background.jpg");
  background-color:rgba(255,255,255,0.2);
  background-blend-mode:lighten;
}

.hedder {
  padding: 10px 30px;
  height: $hedder-height;
  position: fixed;
    left: 0;
    right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  & .userName {
    color: dimgrey;
    line-height: $hedder-height;
    font-size: 1.2em;
  }
  &__item {
    &--icons {
      display: flex;
      justify-content: space-between;
      text-align: center;
      & .hedderBtn {
        padding: 3px;
        white-space: nowrap;
        margin-left: 20px;
        text-decoration: none;
        color: rgb(11, 250, 139);
        transition-duration: 0.4s;
        border:dashed 3px #CCCCFF;
        & i {
          font-size: 1.5em;
        }
        & p {
          font-size: 0.5em;
        }
        &:hover {
          background-color: #CCFFFF;
        }
      }
    }
  }
}

#app {
  padding-top: $app-padding;
}

#mainContents {
  width: 60%;
  min-width: 450px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px 50px;
  min-height: calc(100vh - 100px);
}

#recTabs {
  display: flex;
  width: 100%;
  margin: 50px 0 5px ;
  border-bottom: $topTabsBorder;
  & .tab {
    text-align: center;
    padding: 5px 0;
    width: calc(100% / 2);
    margin: 0 10px;
    cursor: pointer;
    border-top: $topTabsBorder;
    border-left: $topTabsBorder;
    border-right: $topTabsBorder;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    color: cadetblue;
    background-color: white;
    transition-duration: 0.3s;
    &:hover {
      background-color: cadetblue;
      color: white;
    }
  }
  & .tabActive {
    background-color: cadetblue;
    color: white;
  }
}

#tabContents {
  height: 420px;
  overflow: scroll;
  padding: 10px;
  border-bottom: $topTabsBorder;
}

.recContents {
  padding: 3px;
  &__nothing {
    height: 390px;
    background-color: white;
    box-shadow: 0 0 5px 3px lightgray;
    padding: 10px;
    & .text {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
      border: dashed 2px cadetblue;
      font-size: 1em;
      color: lightgray;
      &--item {
        margin: 0 auto;
        & > i {
          font-size: 3em;
          margin-bottom: 5px;
        }
      }
    }
  }
  & .recContent {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 120px;
    background-color: white;
    border: 1px solid darkgray;
    & .recImage {
      width: 40%;
      min-width: 150px;
      max-width: 180px;
      height: 95%;
      margin-right: 5px;
      padding: 2px;
      border-radius: 5px;
      background-color: darkcyan;
      border: 1px solid gray;
      position: relative;
      & .item {
        width: 100%;
        height: 100%;
        background-color: gray;
        text-align: center;
        &--preview {
          width: 100%;
          height: 100%;
        }
      }
      &--updateDate {
        position: absolute;
          top: 10px;
          left: 10px;
        font-size: 0.8em;
        max-height: 100%;
        color: darkcyan;
        text-shadow: 1px 1px white;
      }
    }
    & .recComment {
      width: 100%;
      margin-left: 10px;
      word-break: break-all;
      color: dimgray;
      &--title {
        font-size: 1em;
        text-shadow: 1px 1px darkgray;
      }
      &--text {
        font-size: 0.8em;
      }
      &--status {
        font-size: 0.7em;
        display: flex;
        border-bottom: solid 1px darkcyan;
      }
    }
    > a {
      text-decoration: none;
      color: darkcyan;
      padding: 40px 0;
      text-shadow: 1px 1px darkgray;
      cursor: auto;
      > i {
        font-size: 1.5em;
        padding: 0 10px;
        cursor: pointer;
        transition-duration: 0.3s;
        &:hover {
          padding-right: 0;
          padding-left: 20px;
        }
      }
    }
  }
}


#footer-item {
  height: $footer-height;
}
