/* トップページのアニメーション */
/* 開始時 */
.slide-enter {
  transform: translate(-300px, 0);
  opacity: 0;
}
/* 終了時 */
.slide-enter-to {
  opacity: 1;
}
/* アニメーション実行中 */
.slide-enter-active {
  transition: all .5s 0s ease;
}
.slide-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.slide-leave-to {
  transform: translate(300px, 0);
  opacity: 0;
}
.slide-leave-active {
  transition: all .3s 0s ease;
}


/* マイページのアニメーション */
/* 開始時 */
.myPageslide-enter {
  transform: translate(0px, 0);
  opacity: 0;
}
/* 終了時 */
.myPageslide-enter-to {
  opacity: 1;
}
/* アニメーション実行中 */
.myPageslide-enter-active {
  transition: all .4s 0s ease-in;
}
.myPageslide-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.myPageslide-leave-to {
  transform: translate(200px, 0);
  opacity: 0;
}
.myPageslide-leave-active {
  transition: all .2s 0s ease-in;
}

// ページ遷移時のアニメ〜ション
/* アニメーション中のスタイル */
.myPageslide-enter {
  opacity: 0;
}
/* 終了時 */
.fade-enter-to {
  opacity: 1;
}
/* アニメーション実行中 */
.fade-enter-active {
  transition: all .4s 0s ease-in;
}
.fade-leave {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}
.fade-leave-active {
  transition: all .2s 0s ease-in;
}